PORT=5000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=real_easte_db
DB_SSL=false
# DB_SSL_CA="-----BEGIN CERTIFICATE-----\\n...\\n-----END CERTIFICATE-----"

ADMIN_TOKEN_SECRET=replace_with_random_secret
CORS_ORIGIN=http://localhost:5173
